<!DOCTYPE>
<!DOCTYPE html>
<html>
<head>
<title>Movie Success Predictor</title>
</head>

<body>

<form action="home" method="POST">
 num_critic_for_reviews: <input type="text" name="num_critic_for_reviews" value=50><br>
 duration: <input type="text" name="duration" value=120><br>
 director_facebook_likes: <input type="text" name="director_facebook_likes" value=6000><br>
 actor_3_facebook_likes: <input type="text" name="actor_3_facebook_likes" value=10000><br>
 actor_1_facebook_likes: <input type="text" name="actor_1_facebook_likes" value=20000><br>
 num_voted_users: <input type="text" name="num_voted_users" value=3000><br>
 cast_total_facebook_likes: <input type="text" name="cast_total_facebook_likes" value=50000><br>
 facenumber_in_poster: <input type="text" name="facenumber_in_poster" value=2><br>
 num_user_for_reviews: <input type="text" name="num_user_for_reviews" value=25><br>
 budget: <input type="text" name="budget" value=5000000><br>
 title_year: <input type="text" name="title_year" value=2010><br>
 actor_2_facebook_likes: <input type="text" name="actor_2_facebook_likes" value=5000><br>
 aspect_ratio: <input type="text" name="aspect_ratio" value=1.78><br>
 movie_facebook_likes: <input type="text" name="movie_facebook_likes" value=40000><br>
 <input type="submit" value="Submit">
</form>

</body>
</html>